{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb-base", "plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "ignorePatterns": ["**/node_modules/", "dist/", "demo"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "directory": "./"
      }
    }
  },
  "rules": {
    "max-len": "off",
    "no-shadow": "off",
    "prefer-template": "off",
    "no-template-curly-in-string": "off",
    "@typescript-eslint/no-var-requires": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "@typescript-eslint/member-delimiter-style": [
      2,
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": true
        }
      }
    ],
    "@typescript-eslint/quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "arrow-parens": "off",
    "space-before-blocks": "off",
    "keyword-spacing": "off",
    "object-curly-newline": "off",
    "arrow-body-style": "off",
    "padded-blocks": "off",
    "no-console": "off",
    "semi": [2, "never"],
    "comma-dangle": [0, "always"],
    "import/no-extraneous-dependencies": "off"
  }
}
